@import "tailwindcss";

@font-face {
    font-family: Soligant;
    src: url(./fonts/Soligant.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

